Allow from all

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Important: RewriteBase
    # If you installed the web app on a subsite, you have to set this to the URL of the subsite.
    # Note: must be in this format to prevent any issues from occurring due to index.php not being on the RewriteBase (e.g. /BoNeMEAL/index.php or /mc-server/ban-management/index.php)

    # Enable this if you are not sure (recommended)
    # RewriteBase /bans/index.php

    # only enable this if your host knows it's index.php. Must put a # to disable the other option. Failing to do so could cause a 500 Server Error to occur.
    # RewriteBase /bans

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
